/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/pdf-template/[id]/PDF.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-color: #f4f4f9;
}

.container {
    display: flex;
    max-width: 2480px; /* A4 em 300 DPI para impressão */
    margin: 20px auto;
    height: 3508px; /* Altura A4 em 300 DPI */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left-column {
    background-color: #2b6587;
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-info p {
    margin: 10px 0;
}

p.email {
    font-size: 12px;
}

.section {
    margin-top: 40px;
}

.section h3 {
    font-size: 18px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.right-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    background-color: white;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.course {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.section h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.job {
    margin-bottom: 20px;
}

.job h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.job p {
    font-size: 14px;
    color: #666;
}

.box-text{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.title-decoration{
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.uppercase{
    text-transform: uppercase;
}

.txt-decoration {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.txt-justify{
    text-align: justify;
}

@media screen {
    .container {
        max-width: 794px; /* A4 em 96 DPI */
        height: 1123px; /* Ajustável na tela */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
}

@media print {
    body {
        background-color: white;
        height: 100%;
    }

    .no-print {
        display: none;
    }

    .container {
        max-width: 100%;
        height: 1123px;
        box-shadow: none;
        margin: 0;
    }

    .left-column {
        /* background-color: #333; Usar cor sólida para garantir boa impressão */
        background-color: #2b6587;
    }

    .right-column {
        background-color: white;
    }

    .profile-img {
        width: 100px;
        height: 100px;
    }

    .contact-info p {
        font-size: 12px;
    }

    h1, h3, h4 {
        color: white;
    }

    .job p {
        font-size: 12px;
    }
}

